@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.zinc.900');
}

/* retro */
.retro-box {
  --color: theme('colors.zinc.500');
  box-shadow: var(--color) 0px 4px, var(--color) 0px -4px, var(--color) 4px 0px, var(--color) -4px 0px;
}
.retro-box.amber { --color: theme('colors.amber.500'); }
.retro-box.emerald { --color: theme('colors.emerald.500'); }
.retro-box.rose-900 { --color: theme('colors.rose.900'); }

/* custom scrollbar */
::-webkit-scrollbar-track
{
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: #88888888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.cyan.500');
}
